{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    document.getElementById("form").clear()
</script>
<body onload="document.FormName.reset();">
    <div class="container">
        <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
            <div class="container">
                <h2>Welcome to <span> Artists' Forum Nitk</span></h2>
                <div class="user-summary">
                    <div class="account-links">
                        <a href="{% url 'register' %}">Haven't Registered yet? Register</a>
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" id="form" name="FormName" >{% csrf_token %}

            {% for field in form  %}
                <p>
                    {{field.label_tag}} {{field}}
                    {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <small style="color: red;">{{error}}</small>
                    {% endfor %}
                </p>
            {% endfor %}
                <button class="dt-sc-button small type2" type="submit">Submit</button>
        </form>
    </div>
</body>
{% endblock content %}
    