{% extends "base.html" %}

{% block content %}
{% load static %}

<div id="main">
    <div class="container">
        <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
            <div class="container">
                <h2>About <span>Us</span></h2>
                <div class="user-summary">
                </div>
            </div>
        </div><!-- *BreadCrumb Ends here** -->
        <div class="container">
            <div class="main-title pullDown">
                <h3> Artists' Forum NITK </h3>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac. Eu non diam phasellus vestibulum lorem sed risus ultricies tristique. Quis enim lobortis scelerisque fermentum dui faucibus. Augue ut lectus arcu bibendum at varius vel pharetra. Risus nec feugiat in fermentum posuere urna nec tincidunt. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Condimentum vitae sapien pellentesque habitant. Lectus mauris ultrices eros in cursus turpis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Scelerisque varius morbi enim nunc faucibus a. Maecenas volutpat blandit aliquam etiam erat velit. Arcu risus quis varius quam. Ut porttitor leo a diam sollicitudin tempor id. Elementum nibh tellus molestie nunc non blandit massa enim. Nunc faucibus a pellentesque sit.
            </p>
        </div>
        <div class="dt-sc-hr-invisible-small"> </div>
        <div class="main-title"></div> <!--Just for the sake of that fancy line-->


        <h2>Testimonials</h2>
        <div class="container">
            <section id="primary" class="content-full-width">
                
                
                <div class="dt-sc-one-column column first">
                    <div class="recent-gallery-container">
                        <ul class="recent-gallery">
                            {% for testimonial in testimonials %}
                            <li>
                                <blockquote style="margin:40px">
                                    <span class="fa fa-quote-left fa-3x" style="color: #a81c51;"></span>
                                    <q>{{testimonial.testimonial}}</q>
                                    <h6>{{testimonial.member_name}}</h6>
                                    <a>{{testimonial.post}}</a>                                                                        
                                </blockquote>
                            </li>
                            {% endfor %}
                        </ul>                           	
                    </div>
                </div>
                    
        </div>
        <div class="dt-sc-hr-invisible-small"> </div>

        <div class="main-title"></div>
        <div class="contact-section"><!-- **contact-section Starts Here** -->
            <div id="contact_map" class="animate"  data-animation="fadeInRight" data-delay="100">
                <iframe width="95%" height="95%" src="https://www.youtube.com/embed/a3yMlb7kCd0" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="contact_us" class="dt-sc-contact-info animate" data-animation="fadeInLeft" data-delay="100">
                <h3>Reach us at</h3>
                <div class="dt-sc-contact-details"><span class="fa fa-map-marker"></span>Address: National Institute of Technology, Karnataka, India </div>
                <div class="dt-sc-contact-details"><span class="fa fa-tablet"></span> Phone: +91 91603 61774 </div>
                <div class="dt-sc-contact-details"><span class="fa fa-envelope"></span> Email: <a href="mailto:nitkartistforum@gmail.com">nitkartistforum@gmail.com</a> </div>
                <div class="dt-sc-contact-details"><span class="fa fa-globe"></span> Web: <a href="http://wedesignthemes.com">http:afnitk.com</a> </div>
                <ul class="type3 dt-sc-social-icons">
                    <li class="dribbble"><a href="https://www.instagram.com/afnitk/?hl=en"> <i class="fa fa-instagram"></i> </a></li>
                    <li class="facebook"><a href="https://www.facebook.com/afnitk"> <i class="fa fa-facebook"></i> </a></li>
                    <li class="google"><a href="mailto: nitkartistforum@gmail.com"> <i class="fa fa-envelope"></i> </a></li>
                    <li class="pinterest"><a href="https://www.youtube.com/channel/UClWe6xpgRAJTfNk302cSPOA"> <i class="fa fa-youtube"></i> </a></li>

                </ul>                        
            </div>
        </div>
    </div>

    
</div>

{% endblock %}
