{% extends "base.html" %}

{% block content %}
{% load static %}

<div id="main">
    <div class="container">
        <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
            <div class="container">
                <h2>About <span>Us</span></h2>
                <div class="user-summary">
                </div>
            </div>
        </div><!-- *BreadCrumb Ends here** -->
        <div class="container">
            <div class="main-title pullDown">
                <h3> Artists' Forum NITK </h3>
            </div>
            <p class="desc" >
               We are Artists’ Forum, NITK: a non-exclusive club of students across all years and branches with a shared love for art.
               We celebrate art by way of sanding thermocol and mixing paint. We collaborate by way of painting walls and decorating halls. Most importantly, we are a family.
               To commemorate NITK’s fests, Engineer and Incident, we decorate the entrance to the main building of NITK to reflect the theme for the fest (In 2020, however, we decorated throughout the campus, a rogue action befitting the year). In the past, we have meddled with time, hopped aboard the Oriental Express and took a Global Odyssey.
               We hold the kite flying festival, Udaan (our flagship event) in January, an annual event that is festive and memorable. We entertain, build sandcastles, and of course, fly kites!
               But, we are also a club that values fun. Twice a year (at least), we travel. We travel for a break from the academics, the timeless views and the cherished memories. We also love to eat, especially when it’s a treat from the seniors!
               If all of this excites you, consider applying to the club. Please note that you don’t have to be an excellent artist to join the club (some of us cannot draw a tree without a reference). You need only have creativity, willingness to collaborate, and cravings for late-night dinners (of which there are a lot!).  </p>
        </div>
        <div class="dt-sc-hr-invisible-small"> </div>
        <div class="main-title"></div> <!--Just for the sake of that fancy line-->


        <h2>Testimonials</h2>
        <div class="container">
            <section id="primary" class="content-full-width">
                
                
                <div class="dt-sc-one-column column first">
                    <div class="recent-gallery-container" >
                        <ul class="recent-gallery">
                            {% for testimonial in testimonials %}
                            <li>
                                <blockquote >
                                    <span class="fa fa-quote-left fa-3x" style="color: #a81c51;"></span>
                                    <q style="font-size: 20px;">{{testimonial.testimonial}}</q>
                                    <h6>{{testimonial.member_name}}</h6>
                                    
                                    {% if testimonial.post != 9 %}
                                    <a>{{testimonial.get_post_display}}</a>
                                    {% else %}
                                    <p>Batch of {{testimonial.batch}}</p>                                                                      
                                    {% endif %}
                                        
                                </blockquote>
                            </li>
                            {% endfor %}
                        </ul>                           	
                    </div>
                </div>
                    
        </div>
        <div class="dt-sc-hr-invisible-small"> </div>

        <div class="main-title"></div>
        <div class="contact-section"><!-- **contact-section Starts Here** -->
            <div id="contact_map" class="animate"  data-animation="fadeInRight" data-delay="100">
                <iframe width="95%" height="95%" src="https://www.youtube.com/embed/a3yMlb7kCd0" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="contact_us" class="dt-sc-contact-info animate" data-animation="fadeInLeft" data-delay="100">
                <h3>Reach us at</h3>
                <div class="dt-sc-contact-details"><span class="fa fa-map-marker"></span>Address: National Institute of Technology, Karnataka, India </div>
                <div class="dt-sc-contact-details"><span class="fa fa-tablet"></span> Phone: +91 91603 61774 </div>
                <div class="dt-sc-contact-details"><span class="fa fa-envelope"></span> Email: <a href="mailto:nitkartistforum@gmail.com">nitkartistforum@gmail.com</a> </div>
                <div class="dt-sc-contact-details"><span class="fa fa-globe"></span> Web: <a href="http://wedesignthemes.com">http:afnitk.com</a> </div>
                <ul class="type3 dt-sc-social-icons">
                    <li class="dribbble"><a href="https://www.instagram.com/afnitk/?hl=en"> <i class="fa fa-instagram"></i> </a></li>
                    <li class="facebook"><a href="https://www.facebook.com/afnitk"> <i class="fa fa-facebook"></i> </a></li>
                    <li class="google"><a href="mailto: nitkartistforum@gmail.com"> <i class="fa fa-envelope"></i> </a></li>
                    <li class="pinterest"><a href="https://www.youtube.com/channel/UClWe6xpgRAJTfNk302cSPOA"> <i class="fa fa-youtube"></i> </a></li>

                </ul>                        
            </div>
        </div>
    </div>

    
</div>

{% endblock %}
