{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="main">
    <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
        <div class="container">
            <h2>Art <span>Blog</span></h2>
            <div class="user-summary">
            </div>
        </div>
    </div><!-- *BreadCrumb Ends here** -->
    <div class="container">
        <div class="main-title pullDown">
            <h3> Art Blog </h3>
        </div>
        <section id="primary" class="content-full-width">
            <div class="blog-items apply-isotope clear">
                    
                {% for blogpost in blog_list %}
                <a href="{% url 'blog_post' blogpost.id %}">
                <div class="dt-sc-one-third column">
                    <article class="blog-entry bigEntrance" data-animation="bigEntrance">
                        <div class="entry-thumb">
                            <img loading="lazy" src="{{blogpost.blog_img.url}}" alt="" title="">
                        </div>
                        <div class="entry-details">
                            <div class="entry-title">
                                <h4>{{blogpost.title}}</h4>
                            </div>
                            <div class="entry-metadata">
                                <p class="author"> <i class="fa fa-user"></i> By: {{blogpost.author}} </p>
                                <p><i class="fa fa-calendar"></i>{{ blogpost.created_on|date:"D, d M Y" }}</p>
                            </div>
                            <div class="entry-body">
                                <p style="text-align: justify;">{{blogpost.content|truncatechars:100}}</p>
                            </div>
                        </div>
                </article>
                </div>
                </a>
                    
                {% endfor %}
            </div>
        </section>
        <!-- **Secondary Starts Here** -->
        <!-- <section id="secondary" class="secondary-sidebar secondary-has-right-sidebar">
            <aside class="widget widget_search">
                <div class="widgettitle sub-title">
                    <h3>Have you Lost ?</h3>
                </div>
                <form method="post" novalidate="novalidate" id="searchform" action="#">	
                    <p class="input-text">
                       <input class="input-field" type="email" name="mc_email" value="" required/>
                       <label class="input-label">
                                <i class="fa fa-search icon"></i>
                                <span class="input-label-content">Hunt</span>
                            </label>
                       <input type="submit" name="submit" class="submit" value="Submit" />
                    </p>
                </form>
                <div id="ajax_subscribe_msg"></div>                        
            </aside>
            <aside class="widget widget_categories">
               <div class="widgettitle sub-title">
                    <h3> Categories </h3>
                </div>
                <ul>
                    <li class="cat-item"><a title="#" href="#">Corporate<span> 2</span></a></li>
                    <li class="cat-item"><a title="#" href="#">Design<span> 3</span></a></li>
                    <li class="cat-item"><a title="#" href="#">Learning<span> 2</span></a></li>
                    <li class="cat-item"><a title="#" href="#">Tools<span> 1</span></a></li>
                    <li class="cat-item"><a title="#" href="#">Training<span> 3</span></a></li>
                </ul>
            </aside>
            <aside class="widget widget_archive">
                <div class="widgettitle sub-title">
                    <h3> Archives </h3>
                </div>
                <ul>
                    <li><a href="#">Apr 2014<span> 5</span></a></li>
                    <li><a href="#">Aug 2014<span> 8</span></a></li>
                    <li><a href="#">Nov 2014<span> 3</span></a></li>
                    <li><a href="#">Jan 2015<span> 4</span></a></li>
                    <li><a href="#">Feb 2015<span> 2</span></a></li>
                </ul>
            </aside>
            <aside class="widget widget_tag_cloud">
                <div class="widgettitle sub-title">
                    <h3> Tags </h3>
                </div>
                <div class="tagcloud type3">
                    <a title="1 topic" href="#">Sketch</a>
                    <a title="1 topic" href="#">Oil color</a>
                    <a title="1 topic" href="#">Acrylic</a>
                    <a title="1 topic" href="#">Sculpture</a>
                    <a title="1 topic" href="#">Crayons</a>
                    <a title="1 topic" href="#">Art</a>                                                        
                </div>
            </aside>                                                                           	
        </section> -->
    </div>

</div>
{% endblock content %}
    