{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="main">
    <div class="breadcrumb" style="margin: 70px 0px 70px 0px;"><!-- *BreadCrumb Starts here** -->
        <div class="container">
            <h2 style="font-size: 80px;">Sorry!</h2>
            <!-- <h4>Please check back in {{date}}</h4> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <h1> We are currently not open for {{disp_text}} registrations :(</h1>
        <h4>Thank you for showing interest!</h4>
        <h2>Please check back in {{date}}</h2>
    </div>
</div>

{% endblock content %}
    