{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="main">
    <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
        <div class="container">
            <h2>Sorry!<span> We are currently not open for {{disp_text}} registrations :(</span></h2>
            <h4>Please check back in {{date}}</h4>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <!-- <h2>Sorry!! We are currently not open for {{disp_text}} registrations :(</h2> -->
    </div>
</div>

{% endblock content %}
    