{% load static %}
<!Doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->
<style>
</style>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>Artists' Forum</title>
	<link rel="icon" type="image/jpg" href="{% static 'images/af.png' %}"/>
    <meta name="description" content="">
	<meta name="author" content="">
	<link rel="preload" as="font" href="{% static 'fonts/snap_itc.woff' %}" type="font/woff2" crossorigin="anonymous">
	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />     -->
    <!-- **CSS - stylesheets** -->
	<link id="default-css" rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all" />
    <script src="https://use.fontawesome.com/bfd3147857.js"></script>
    <!-- **Additional - stylesheets** -->
    <link href="{% static 'css/animations.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/animation.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/pace.css' %}" rel="stylesheet" type="text/css" />
	<link id="shortcodes-css" href="{% static 'css/shortcodes.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link id="skin-css" href="{% static 'skins/red/style.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/isotope.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all"/>
    
    <link id="light-dark-css" href="{% static 'dark/dark.css' %}" rel="stylesheet" media="all" />
    
    <!-- **Font Awesome** -->
	<!-- <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" /> -->
	
	<!-- Modernizr -->
	<script src="{% static 'js/modernizr.js' %}"></script> 
</head>
<!-- loader starts -->
<body>
    <div class="loader-wrapper">
        <div id="large-header" class="large-header preloader-text">
            <h1 class="loader-title"><span>Artists'</span>Forum</h1>
        </div>        
    </div>
<!-- loader ends-->

<!-- **Wrapper** -->
<div class="wrapper">
	<div class="inner-wrapper">
        <div id="header-wrapper" class="dt-sticky-menu"> <!-- **header-wrapper Starts** -->
            <!--Header Overlay Starts-->
            <section id="header" class="header">
                <div class="container menu-container">
                    <a class="logo" href="{% url 'index' %}"></a>
                    <a href="javascript:;" class="total-overlay-trigger"></a>
                </div>	
            </section>
            <!--Header Overlay End-->
			<!--Navbar Start-->
            <div class="total-overlay-sticky">
                <nav id="navigation">
                    <ul class="menu type2">
                        <li class="logo"><a href="#"><img alt="Logo" src="{% static 'images/af.png' %}"></a></li>
                        <li class="menu-item-simple-parent"><a title="Home" href="{% url 'index' %}">Home</a></li>
                        <li class="menu-item-simple-parent"><a title="Events" href="{% url 'events' %}">Events</a></li>
                        <li class="menu-item-simple-parent"><a title="About" href="{% url 'udaan' %}">Udaan</a></li>
                        <li class="menu-item-simple-parent"><a title="Blog" href="{% url 'blog' %}">Blog</a></li>
                        <li class="menu-item-simple-parent"><a title="Team" href="{% url 'team' %}">Team</a></li>
                        <li class="menu-item-simple-parent"><a title="About" href="{% url 'about' %}">About Us</a></li>
                        

                        {% if recruiting %}
                            {% if request.user.is_authenticated %}
                            <li class="menu-item-simple-parent"><a title="Application Statust" href="{% url 'application status' %}">Application Status</a></li>
                            {% else %}
                            <li class="menu-item-simple-parent dropdown-widget"><a href="#" class="dropdown-toggle" data-toggle="dropdown-widget" data-hover="dropdown-widget" aria-haspopup="true">Recruitments<span class="has-child animation"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                    <li><a href="{% url 'login' %}">Log In</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        {% else %}
                        <li class="menu-item-simple-parent"><a title="About" href="{% url 'oops' 'recs404' %}">Recruitments</a></li>
                        {% endif %}
                            
                    </ul>
                </nav>
                <a href="javascript:;" class="total-overlay-sticky-close"></a>
            </div>
            <!--Navbar End-->
        </div><!-- **header-wrapper Ends** -->

<div class="slider-container" style="display: flex;">
    <div class="slider fullwidth-section parallax" style="background: url({% static 'images/bg-trial.jpg' %});">
        <img id="landing-image" style="align-self: center;" src="{% static 'images/Logo.png' %}" alt="">
        <h2 id="landing-heading" style="font-family: snap-itc;">ARTISTS' FORUM</h2>
        <button  class="slider-button" id="slider-button" >
            Explore
        </button>
    </div>  
</div>
<div id="main">
    <section id="primary" class="content-full-width"> <!-- **Primary Starts Here** -->  
                      
        <div class="dt-sc-hr-invisible-small"></div>
        
        <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
            <div class="container">
                <div class="main-title animate" data-animation="pullDown" data-delay="100">
                    <h2 class="aligncenter"> Art Gallery </h2>
                    <p> Some amazing artworks by Artists' Forum members </p>
                </div>
            </div>
            <div class="dt-sc-sorting-container">
                <a data-filter="*" href="#" title = "" class="dt-sc-tooltip-top active-sort type1 dt-sc-button animate" data-animation="fadeIn" data-delay="100">All</a>
                <a data-filter=".Sketches" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="200">Sketches</a>
                <a data-filter=".Portrait" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="500">Portraits</a>
                <a data-filter=".Anime" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="300">Anime</a>
                <a data-filter=".Doodles" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="300">Doodles</a>
                <a data-filter=".Digital" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Digital</a>
                <a data-filter=".Nature" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Nature</a>
                <a data-filter=".Abstract" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Abstract</a>
                <a data-filter=".Other" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Others</a>
            </div>
            <div class="portfolio-fullwidth blur" style="background-image: url({% static 'images/texture.jpg' %});">
                <span class="blur2"><b></b></span>
                <div class="portfolio-grid" >
                    <div class="dt-sc-portfolio-container isotope"> <!-- **dt-sc-portfolio-container Starts Here** -->
                        
                        
                        
                        {% for art in art_list %}
                        <div class="portfolio {{art.art_type}} dt-sc-one-fourth">
                            <a data-gal="prettyPhoto[gallery]" href="{{art.art_image.url}}">
                            <figure>
                                <img src="{{art.art_image.url}}" style="padding: 8%;" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <div class="fa fa-camera-retro" style="margin-right: 1em;"></div><span></span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5>{{art.title}}</h5>
                                            <p> by {{art.author}}</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                            </a>
                        </div>
                            
                        {% endfor %}
                            
                    </div><!-- **dt-sc-portfolio-container Ends Here** -->
                </div>
            </div>
        </div>
        <div class="clear"></div>
</div>


<footer id="footer" style="background: black;" class="animate"  data-delay="100">
    <div class="container">
        <div class="copyright">
        
            <ul class="footer-links">
                <li><a href="{% url 'about' %}#contact_us">Contact us</a></li>
       
            </ul>
            
            <ul class="payment-options">
                <li><a href="https://www.instagram.com/afnitk/?hl=en" class="fa fa-instagram"></a></li>
                <li><a href="https://www.facebook.com/afnitk" class="fa fa-facebook"></a></li>
                <li><a href="mailto:nitkartistforum@gmail.com" class="fa fa-envelope"></a></li>
                <li><a href="https://www.youtube.com/channel/UClWe6xpgRAJTfNk302cSPOA" class="fa fa-youtube"></a></li>
                <li><a href="https://github.com/Artists-Forum-NITK" class="fa fa-github"></a></li>
            </ul>
            <ul>
                <p>Designed with <i class="fa fa-heart" style="color:#a81c51;"></i> at <a href="#">ARTISTS' FORUM NITK Surathkal</a></p>
            </ul>
            
            
        </div>
    </div>
</footer>            
</div><!-- Main Ends Here-->

</div><!-- **inner-wrapper - End** -->
</div><!-- **Wrapper Ends** -->

<!-- **jQuery** -->

<script src="{% static 'js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>

<script src="{% static 'js/jquery.inview.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.viewport.js' %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>

<script src="{% static 'js/jsplugins.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.tabs.min.js' %}"></script>

<script src="{% static 'js/jquery.prettyPhoto.js' %}" type="text/javascript"></script>

<script src="{% static 'js/jquery.validate.min.js' %}" type="text/javascript"></script>

<script src="{% static 'js/jquery.tipTip.minified.js' %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<script type='text/javascript' src="{% static 'js/jquery.menu-2.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>

    