{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="slider-container">
    <div class="slider fullwidth-section parallax" style="background: url({% static 'images/bg-trial.jpg' %});"></div>  <!--background image goes here-->
</div>
<div id="main">
    <section id="primary" class="content-full-width"> <!-- **Primary Starts Here** -->  
                      
        <div class="dt-sc-hr-invisible-small"></div>
        
        <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
            <div class="container">
                <div class="main-title animate" data-animation="pullDown" data-delay="100">
                    <h2 class="aligncenter"> Art Gallery </h2>
                    <p> Some amazing artworks by Artists' Forum members </p>
                </div>
            </div>
            <div class="dt-sc-sorting-container">
                <a data-filter="*" href="#" title = "" class="dt-sc-tooltip-top active-sort type1 dt-sc-button animate" data-animation="fadeIn" data-delay="100">All</a>
                <a data-filter=".Sketches" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="200">Sketches</a>
                <a data-filter=".Portrait" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="500">Portraits</a>
                <a data-filter=".Doodles" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="300">Doodles</a>
                <a data-filter=".Digital" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Digital</a>
                <a data-filter=".Nature" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Nature</a>
                <a data-filter=".Abstract" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Abstract</a>
                <a data-filter=".Other" href="#" title = "" class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn" data-delay="400">Others</a>
            </div>
            <div class="portfolio-fullwidth blur" style="background-image: url({% static 'images/texture.jpg' %});">
                <span class="blur2"><b></b></span>
                <div class="portfolio-grid" >
                    <div class="dt-sc-portfolio-container isotope"> <!-- **dt-sc-portfolio-container Starts Here** -->
                        
                        
                        
                        {% for art in art_list %}
                        <div class="portfolio {{art.art_type}} dt-sc-one-fourth">
                            <a data-gal="prettyPhoto[gallery]" href="{{art.art_image.url}}">
                            <figure>
                                <img src="{{art.art_image.url}}" style="padding: 8%;" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <div class="fa fa-camera-retro" style="margin-right: 1em;"></div><span>3</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5>{{art.title}}</h5>
                                            <p> by {{art.author}}</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                            </a>
                        </div>
                            
                        {% endfor %}
                            
                    </div><!-- **dt-sc-portfolio-container Ends Here** -->
                </div>
            </div>
        </div>
        <div class="clear"></div>
</div>
{% endblock content %}
    