{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <link href="{% static 'css/animation.css' %}" rel="stylesheet" type="text/css" media="all" />

</head>
    <div id="main">
        <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
            <div class="container">
                <h2>AF<span> Family <i class="fa fa-heart"></i></span></h2>
            </div>
        </div>
    </div>
    <section id="primary" class="content-full-width">
        <div class="container">
            <div class="dt-sc-hr-invisible-small"> </div>
            <div class="dt-sc-tabs-container">
                <ul class="dt-sc-tabs-frame">
                    <li><a href="#" class="current"> Core </a></li>
                    <li><a href="#"> Executive Members </a></li>
                    <!-- <li><a href="#"> Web Team </a></li> -->
                    <li><a href="#"> Alumni </a></li>
                </ul>


                <!---Core Tab-->
                <div class="dt-sc-tabs-frame-content">
                    <div class="service-grid">                       
                        {% for member in members %}
                            {% if member.curr_core %}
                                <div class="dt-sc-one-half column first">
                                    <div class="dt-sc-icon-content-wrapper">
                                        <div class="dt-sc-one-half column first">
                                            <div class="dt-sc-ico-content  fadeRight">
                                                <h3> {{member.member_name}}</h3>
                                                <p style="font-size: 25px;">{{member.post}}</p>
                                                <p>
                                                    <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                    <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                            <img class="fadeRight"  src="{{member.member_img.url}}" style="width: 55%;" alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>



                <!--Executive Members Div-->
                <div class="dt-sc-tabs-frame-content"> 
                    <div class="service-grid">
                        {% for member in members %}
                            {% if not member.curr_core  %}
                                <div class="dt-sc-one-half column first">
                                    <div class="dt-sc-icon-content-wrapper">
                                        <div class="dt-sc-one-half column first">
                                            <div class="dt-sc-ico-content fadeRight">
                                                <h3> {{member.member_name}}</h3>
                                                <div class="dt-sc-hr-invisible-very-small"></div>
                                                <p>
                                                    <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                    <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                            <img class= "fadeRight"  src="{{member.member_img.url}}" style="width: 55%;" alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!--Extra Teams tab-->
                <!-- <div class="dt-sc-tabs-frame-content"> 
                    <div class="service-grid">
                        {% for member in members %}
                            {% if member.post == "web team" %}
                                <div class="dt-sc-one-half column first">
                                    <div class="dt-sc-icon-content-wrapper">
                                        <div class="dt-sc-one-half column first">
                                            <div class="dt-sc-ico-content fadeRight" data-delay="100">
                                                <h6> {{member.member_name}}</h6>
                                                <p><span>Post:</span>{{member.post}}</p>
                                                <div class="dt-sc-hr-invisible-very-small"></div>
                                                <p>
                                                    <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                    <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                </p>
                                                <div class="dt-sc-hr-invisible-very-small"></div>
                                            </div>
                                        </div>
                                        <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                            <img class= "fadeRight"  data-delay="100" src="{{member.member_img.url}}" style="width: 55%;" alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> -->
                <div class="dt-sc-tabs-frame-content">
                    <div class="container">
                        
                        <div class="dt-sc-toggle-frame-set">
                        {% for batch in batches_to_display %}
                        <div class="dt-sc-toggle-frame">
                            <h5 class="dt-sc-toggle-accordion"><a href="#">Batch of {{batch}}</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    <div class="service-grid">
                        
                                        {% for alumnus in alumni %}
                                        
                                            {% if alumnus.batch == batch|stringformat:"i" %}
                                                <div class="dt-sc-one-half column first">
                                                    <div class="dt-sc-icon-content-wrapper">
                                                        <div class="dt-sc-one-half column first">
                                                            <div class="dt-sc-ico-content fadeRight" data-delay="100">
                                                                <h3> {{alumnus.member_name}}</h3>
                                                                
                                                                {% if alumnus.post %}
                                                                    <p style="font-size: 15px;">{{alumnus.post}}</p>
                                                                    {% else %}
                                                                    <div class="dt-sc-hr-invisible-small"></div>
                                                                {% endif %}
                                                                    
                                                                <p>
                                                                    <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                                    <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                                            <img class= "fadeRight"  data-delay="100" src="{{alumnus.member_img.url}}" style="width: 55%;" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            {% endif %}
                                            
                                            
                                        {% endfor %}
                                            
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}
    