{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <link href="{% static 'css/animation.css' %}" rel="stylesheet" type="text/css" media="all" />

    <style>
        .img-wrap {
            /* width: 200px;
            height: 150px; */
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: 0;
        }
        div > img {
            display: block;
            position: absolute;
            /* top: 50%;
            left: 50%; */
            min-height: 50%;
            min-width: 50%;
            /* width: 50%; */
            /* transform: translate(-50%, -50%); */
        }
        h3 {
            font-size: 20px;
        }
    </style>
</head>
    <div id="main">
        <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
            <div class="container">
                <h2>AF<span> Family <i class="fa fa-heart"></i></span></h2>
            </div>
        </div>
    </div>
    <section id="primary" class="content-full-width">
        <div class="container">
            <div class="dt-sc-hr-invisible-small"> </div>
            <div class="dt-sc-tabs-container">
                <ul class="dt-sc-tabs-frame">
                    <li><a href="#" class="current"> Teams </a></li>
                    <li><a href="#"> Executive Members </a></li>
                    <li><a href="#"> Alumni </a></li>
                </ul>



                <div class="dt-sc-tabs-frame-content">
                    <div class="container">
                        <div class="dt-sc-toggle-frame-set">
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion"><a href="#">Core</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        <div class="service-grid">
                                            {% for member in core_members %}
                                                    <div class="dt-sc-one-half column first">
                                                        <div class="dt-sc-icon-content-wrapper img-wrap">
                                                            <div class="dt-sc-one-half column first">
                                                                <div class="dt-sc-ico-content fadeRight" data-delay="100">
                                                                    <h3> {{member.member_name}}</h3>
                                                                    <p style="font-size: 20px;">{{ member.get_post_display }}</p>
                                                                    <p>
                                                                        <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                                        <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                                                <img loading="lazy" class= "fadeRight"  data-delay="100" src="{{member.member_img.url}}" style="width: 60%;" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion"><a href="#">Media and Content</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        <div class="service-grid">
                                            {% for member in med_and_content_members %}
                                                    <div class="dt-sc-one-half column first">
                                                        <div class="dt-sc-icon-content-wrapper img-wrap">
                                                            <div class="dt-sc-one-half column first">
                                                                <div class="dt-sc-ico-content fadeRight" data-delay="100">
                                                                    <h3> {{member.member_name}}</h3>
                                                                    <p>Batch of {{member.batch}}</p>
                                                                    <p>
                                                                        <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                                        <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                                                <img loading="lazy" class= "fadeRight"  data-delay="100" src="{{member.member_img.url}}" style="width: 60%;" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion"><a href="#">Website Team</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        <div class="service-grid">
                                            {% for member in web_members %}
                                                    <div class="dt-sc-one-half column first">
                                                        <div class="dt-sc-icon-content-wrapper img-wrap">
                                                            <div class="dt-sc-one-half column first">
                                                                <div class="dt-sc-ico-content fadeRight" data-delay="100">
                                                                    <h3> {{member.member_name}}</h3>
                                                                    <p>Batch of {{member.batch}}</p>
                                                                    <p>
                                                                        <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                                        <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                                                <img loading="lazy" class= "fadeRight"  data-delay="100" src="{{member.member_img.url}}" style="width: 60%;" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>


                <!--Executive Members Div-->
                <div class="dt-sc-tabs-frame-content"> 
                    <div class="service-grid">
                        {% for member in executive_members %}
                            <!-- {% if not member.curr_core  %} -->
                                <div class="dt-sc-one-half column first">
                                    <div class="dt-sc-icon-content-wrapper img-wrap">
                                        <div class="dt-sc-one-half column first">
                                            <div class="dt-sc-ico-content fadeRight">
                                                <h3> {{member.member_name}}</h3>
                                                <p>Batch of {{member.batch}}</p>
                                                <!-- <div class="dt-sc-hr-invisible-very-small"></div> -->
                                                <p>
                                                    <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                    <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                            <img loading="lazy" class= "fadeRight"  src="{{member.member_img.url}}" style="width: 60%;" alt="">
                                        </div>
                                    </div>
                                </div>
                            <!-- {% endif %} -->
                        {% endfor %}
                    </div>
                </div>

                <!-- Alumni Tab -->
                <div class="dt-sc-tabs-frame-content">
                    <div class="container">
                        <div class="dt-sc-toggle-frame-set">
                        {% for batch in batches_to_display %}
                        <div class="dt-sc-toggle-frame">
                            <h5 class="dt-sc-toggle-accordion"><a href="#">Batch of {{batch}}</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    <div class="service-grid">
                        
                                        {% for alumnus in alumni %}
                                        
                                            {% if alumnus.batch == batch|stringformat:"i" %}
                                                <div class="dt-sc-one-half column first">
                                                    <div class="dt-sc-icon-content-wrapper img-wrap">
                                                        <div class="dt-sc-one-half column first">
                                                            <div class="dt-sc-ico-content fadeRight" data-delay="100">
                                                                <h3> {{alumnus.member_name}}</h3>
                                                                
                                                                {% if alumnus.post != 13 %}
                                                                    <p style="font-size: 15px;">{{alumnus.get_post_display}}</p>
                                                                    {% else %}
                                                                    <div class="dt-sc-hr-invisible-small"></div>
                                                                {% endif %}
                                                                    
                                                                <p>
                                                                    <a href="mailto:{{member.email}}"><i class="fa fa-envelope fa-2x"></i></a>
                                                                    <a href="{{member.insta}}"><i class="fa fa-instagram fa-2x"></i></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="dt-sc-one-half column dt-sc-icon-wrapper">
                                                            <img loading="lazy" class= "fadeRight"  data-delay="100" src="{{alumnus.member_img.url}}" style="width: 60%;" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            {% endif %}
                                            
                                            
                                        {% endfor %}
                                            
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                        </div>
                            
                    </div>
                </div>
                
            </div>
        </div>
    </section>


{% endblock content %}
    