{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="main">
        <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
            <div class="container">
                <h2>Udaan<span> NITK's own beach event</span></h2>
                <div class="user-summary">
                    <div class="account-links">
                        
                        {% if form_open %}
                        <a href="#">Register for Sand Art Competition</a>
                        {% else %}
                        <a href="{% url 'oops' 's_art404' %}">Register for Sand Art Competition</a>
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        </div>
        <section id="primary" class="content-full-width">
            <div class="dt-sc-one-column column first">
                <div class="recent-gallery-container">
                    <ul class="recent-gallery">
                        
                        {% for image in carousel_images %}
                            <li> <img src="{{image.img.url}}" alt="image"/> </li>    
                        {% endfor %}

                    </ul>
                    <div id="bx-pager">
                        
                        {% for image in carousel_images %}
                            <a href="#" data-slide-index='0'><img src='{{image.img.url}}' alt='image' /></a>    
                        {% endfor %}
                    </div>                            	
                </div>
            </div>
            <div class="dt-sc-hr-invisible-small"> </div>
            <div class="main-title"></div>
            <div class="container">
                <p class="desc" >{{desc}} </p>
            </div>
            <div class="dt-sc-hr-invisible-small"> </div>
            <div class="main-title"></div>
            <div class="container">
                <h2>Major Events and <span>Attractions</span></h2>
                <div class="dt-sc-hr-invisible-very-small"></div>
            </div>
            <div class="container">
                <div class="service-grid">
                    {% for event in event_list %}
                    
                    {% if forloop.counter|divisibleby:2 %}

                        <div class="dt-sc-one-third column first ">
                            <div class="dt-sc-icon-wraper"><img class="event-img" src="{{event.event_img.url}}" data-animation="fadeInLeft" data-delay="100" alt=""></div>
                        </div>
                        <div class="column dt-sc-two-third "  >
                            <div class="dt-sc-icon-content-wrapper">
                                <div class="dt-sc-ico-content animate" data-animation="fadeInRight" data-delay="100">
                                    <h6>{{event.event_name}}</h6>
                                    <div class="dt-sc-hr-invisible-very-small"></div>
                                    <p>{{event.event_description}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% else %}
                        <div class="column dt-sc-two-third first"  >
                            <div class="dt-sc-icon-content-wrapper">
                                <div class="dt-sc-ico-content animate" data-animation="fadeInRight" data-delay="100">
                                    <h6>{{event.event_name}}</h6>
                                    <div class="dt-sc-hr-invisible-very-small"></div>
                                    <p>{{event.event_description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="column dt-sc-one-third ">
                            <div ><img src="{{event.event_img.url}}" data-animation="fadeInLeft" data-delay="100" alt=""></div>
                        </div>
                        <hr>

                    {% endif %}        
                {% endfor %}
                </div>    
            </div>


        </section>
    </div>
{% endblock content %}
    