
{% extends 'base.html' %}


{% block content %}
<div id="main">
  <div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
    <div class="container">
        <h2>RESET<span> PASSWORD </span></h2>
    </div>
</div>
  <div class="container">
    <div class="reset-form-container">
      <p>Enter your registered Mail Id</p>
      <hr>
      <form method="POST" >{% csrf_token %}
        <input type="email" placeholder="Email Id" type="email" required="true" name="email" id="id_email">
        <div class="dt-sc-hr-invisible-very-small"></div>
        <button class="dt-sc-button small type2" type="submit">Send reset email</button>
      </form>
      <hr>
    </div>
  </div>
</div>


{% endblock %}