{% extends 'base.html' %}

{% block content %}
<script>
    function redirect(){
       window.location.href = "{% url 'login' %}";
    }

    setTimeout(redirect, 5000); //2000 is equivalent to 2 seconds
</script>
<div class="container">
	<div id="main">
		<div class="breadcrumb"><!-- *BreadCrumb Starts here** -->
		  <div class="container">
			  <h2><span>  </span></h2>
		  </div>
	  </div>
	<div class="d-flex flex-column">
		  <p class="m-auto p-2" style="text-align: center;">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.If you haven't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2" style="text-align: center;"><a href="{% url 'index' %}">Redirecting to login page in 5 seconds . . .</a></p>
	</div>
</div>

{% endblock %}