@charset "utf-8";
/* CSS Document */

	@import url(https://fonts.googleapis.com/css?family=Londrina+Outline);

	.loader-wrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 999999999; background: #000000; overflow:hidden; }	
	
	.loader-container { position:absolute; width:170px; height:50px; top:50%; left:50%; transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); 
	-ms-transform: translate(-50%, -50%);}
	
	.loader-container > div { position:absolute;  font-size: 35px; color: #fff; transform-origin:center; -moz-transform-origin:center; -webkit-transform-origin:center; -o-transform-origin:center; -ms-transform-origin:center;}
	
	.large-header {	position: relative;	width: 100%; height: 100%; overflow: hidden;  }

	@media only screen and (max-width: 767px) {
		.loader-title {	position: absolute;	margin: auto; padding: 0px; color: #FFF; text-align: center; left: 0; bottom: 50%; right:0; font-size: 20px; text-transform: uppercase; font-family: "snap-itc"; z-index:1; }
	
		.loader-title span {color: #a81c51; font-size: 20px; font-family: "snap-itc"; text-transform: uppercase; margin: 0px 100px 0px 12px; }


		.loader-title::before { 
			background: url("../images/af-small-min.png") no-repeat scroll 100% 100%;
			bottom: 0; 
			content: "";
			height: 136px; 
			left: -12px; 
			margin: auto; 
			opacity: 0.8; 
			position: absolute; 
			right: -15px; 
			top: -152%; 
			width: 110px; 
			z-index: -1; 
			animation-name: rotate;
			transform-origin: 71px 97px !important;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;
			animation: 2s rotate 0s normal none infinite running floating; 
			-webkit-animation: 2s rotate 0s normal none infinite running floating; 
			-moz-animation: 2s rotate 0s normal none infinite running floating; 
			-ms-animation: 2s rotate 0s normal none infinite running floating; 
			-o-animation: 2s rotate 0s normal none infinite running floating; 
		}
	}

	@media only screen and (min-width: 767px) {
		.loader-title {	position: absolute;	margin: auto; padding: 0px; color: #FFF; text-align: center; left: 0; bottom: 50%; right:0; font-size: 30px; text-transform: uppercase; font-family: "snap-itc"; z-index:1; }
	
		.loader-title span { color: #a81c51; font-size: 30px; font-family: "snap-itc"; text-transform: uppercase; margin: 0px 110px 0px 12px; }


		.loader-title::before { 
			background: url("../images/af-small-min.png") no-repeat scroll 100% 100%;
			bottom: 0; 
			content: "";
			height: 136px; 
			left: 0; 
			margin: auto; 
			opacity: 0.8; 
			position: absolute; 
			right: -15px; 
			top: -150%; 
			width: 110px; 
			z-index: -1; 
			animation-name: rotate;
			transform-origin: 71px 97px !important;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;
			animation: 2s rotate 0s normal none infinite running floating; 
			-webkit-animation: 2s rotate 0s normal none infinite running floating; 
			-moz-animation: 2s rotate 0s normal none infinite running floating; 
			-ms-animation: 2s rotate 0s normal none infinite running floating; 
			-o-animation: 2s rotate 0s normal none infinite running floating; 
		}
	}

	/* .loader-title::before { 
		background: url("../images/af-small.png") no-repeat scroll 100% 100%;
		bottom: 0; 
		content: "";
		height: 136px; 
		left: 0; 
		margin: auto; 
		opacity: 0.8; 
		position: absolute; 
		right: -15px; 
		top: -150%; 
		width: 110px; 
		z-index: -1; 
		animation-name: rotate;
		transform-origin: 71px 97px !important;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation: 2s rotate 0s normal none infinite running floating; 
		-webkit-animation: 2s rotate 0s normal none infinite running floating; 
		-moz-animation: 2s rotate 0s normal none infinite running floating; 
		-ms-animation: 2s rotate 0s normal none infinite running floating; 
		-o-animation: 2s rotate 0s normal none infinite running floating; 
	} */
	

	@keyframes rotate {
		0% {
		transform: rotate(0);
		transform-origin: center center;
		}
		100% {
		transform: rotate(360deg);
		transform-origin: center center;
		}